<div class="my-2">
    <label class="btn btn-primary">
        <input type="radio" name="param_options" value="0" id="option1" autocomplete="off" checked />
        <p>
            \(x = (R_1 + R_2 \cos(v)) cos(u)\)<br />
            \(y = (R_1 + R_2 \cos(v)) sin(u)\)<br />
            \(z = R_2 \sin(v)\)<br />
            \(u \in [0, 2\pi),\; v \in [0, 2\pi)\)
        </p>
    </label>
</div>