<!--
<div class="btn-toolbar fixed-bottom justify-content-center mb-3" role="toolbar">
    <div class="btn-group me-2" role="group">
      <button type="button" class="btn btn-secondary active">Ray-tracing intro</button>
    </div>
    <div class="btn-group me-2" role="group">
      <button type="button" class="btn btn-secondary active">Rasterization intro</button>
      <button type="button" class="btn btn-secondary">Open question</button>
      <button type="button" class="btn btn-secondary">Face culling and depth test</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-success">Focus</button>
    </div>
</div>
-->

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  
  <p class="mt-2"><b>Ray tracing</b></p>
  <a class="nav-link" id="link-ray-tracing" href="#" role="tab">Intro to ray-tracing</a>
  
  <br/>

  <p class="mt-2"><b>Rasterization</b></p>
  <a class="nav-link" id="link-rasterization" href="#" role="tab">Intro to rasterization</a>
  <a class="nav-link" id="link-open-question" href="#" role="tab">Open question</a>
  <a class="nav-link active" id="link-face-culling" href="#" role="tab">Face culling</a>
  <a class="nav-link" id="link-depth-test" href="#" role="tab">Depth test</a>

</div>