<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  
  <!--
  <p class="mt-2"><b>Ray tracing</b></p>
  <a id="superlink" class="nav-link" href="#" role="tab">Intro to ray-tracing</a>
  
  <br/>
  -->

  <p class="mt-2"><b>Rasterization</b></p>
  <a class="nav-link active" href="0" role="tab">Open question</a>
  <a class="nav-link" href="1" role="tab">Face Culling and Depth Test</a>
  <a class="nav-link" href="2" role="tab">Parametrizations</a>
  <a class="nav-link" href="3" role="tab">Phong Model</a>
  <a class="nav-link" href="4" role="tab">Midpoint Algorithm</a>

</div>