<div class="d-flex flex-row flex-nowrap">
    <div class="p-2 drop-targets">
        <div class="drop-box card p-3 m-3" draggable="true">
            <div class="object-draggable-name card-title">
                <p>Some text</p>
            </div>
        </div>
        <div class="drop-box card p-3 m-3" draggable="true">
            <div class="object-draggable-name card-title">
                <p>Some more</p>
            </div>
        </div>
        <div class="drop-box card p-3 m-3"  draggable="true">
            <div class="object-draggable-name card-title">
                <p>Some more more</p>
            </div>
        </div>
    </div>
    <div class="btn-group-lg btn-group d-flex flex-column p-2" data-toggle="buttons">
        <div class="my-2">
            <!-- mx-2 specifies both margin left and right -->
            <label class="btn btn-primary">
                <input type="radio" name="param_options" value="0" id="option1" autocomplete="off" checked />
                <p>
                    \(x = (R_1 + R_2 \cos(v)) cos(u)\)<br />
                    \(y = (R_1 + R_2 \cos(v)) sin(u)\)<br />
                    \(z = R_2 \sin(v)\)<br />
                    \(u \in [0, 2\pi),\; v \in [0, 2\pi)\)
                </p>
            </label>
        </div>
        <div class="my-2">
            <label class="btn btn-primary">
                <input type="radio" name="param_options" value="1" id="option2" autocomplete="off" />
                <p>
                    \(x = r + \cos(v / 2) * \sin(u) - \sin(v / 2) * \sin(2 * u)) * \cos(v) \)<br />
                    \(y = (r + \cos(v / 2) * \sin(u) - \sin(v / 2) * \sin(2 * u)) * \sin(v) \)<br />
                    \(z = \sin(v / 2) * \sin(u) + \cos(v / 2) * \sin(2 * u) \)<br />
                    \(u \in [0, 2\pi),\; v \in [-\pi, \pi)\)
                </p>
            </label>
        </div>
        <div class="my-2">
            <label class="btn btn-primary">
                <input type="radio" name="param_options" value="2" id="option3" autocomplete="off" />
                <p>
                    \(x = \rho \cos(\theta) \sin(\phi) \)<br />
                    \(y = \rho \sin(\theta) \sin(\phi) \)<br />
                    \(z = \rho \cos(\phi) \)<br />
                    \(\rho \gt 0, \theta \in [0, 2\pi),\; \phi \in [0, \pi)\)
                </p>
            </label>
        </div>
    </div>
    <div class="d-flex justify-content-center p-2">
        <!-- Automatically set margin left and right to center -->
        <canvas id="threejs-canvas" width="520" height="600"></canvas>
    </div>
</div>