<!-- 
This code was primarly created for assignment for Computer Graphics course at USI
by Jiří Heller, Marie Kalousková and Xiana Carrera Alonso
For Software Atelier 3: The Web project we modified it to make it more customizable and tangible 
-->

<!-- How to use this file:
    ejs.views_slide_phong_model();
    start_slide_phong_model();
-->

<canvas id="webgl-canvas" width="768" height="768"></canvas>
<div  style="float: right">
    <% if (slider_camera_angles || slider_camera_distance || slider_camera_fov) { %>
        <h4>Camera:</h4>
    <% } %>
    <% if (slider_camera_angles) { %>
        <div class="slidecontainer">
            Azimuthal angle:</br><input type="range" min="-270" max="90" value="-45" id="camera_azimuthal_angle">
        </div>
        <div class="slidecontainer">
            Polar angle:</br><input type="range" min="1" max="179" value="60" id="camera_polar_angle">
        </div>
    <% } %>
    <% if (slider_camera_distance) { %>
        <div class="slidecontainer">
            Distance:</br><input type="range" min="20" max="200" value="100" id="camera_distance">
        </div>
    <% } %>
    <% if (slider_camera_fov) { %>
        <div class="slidecontainer">
            Field of view:</br><input type="range" min="10" max="150" value="45" id="camera_fov">
        </div>
    <% } %>
    <% if (slider_lights) { %>
        <h4>Light:</h4>
        <div class="slidecontainer">
            Azimuthal angle:</br><input type="range" min="-270" max="90" value="-70" id="light_azimuthal_angle">
        </div>
        <div class="slidecontainer">
            Polar angle:</br><input type="range" min="1" max="90" value="60" id="light_polar_angle">
        </div>
    <% } %>
    <% if (slider_face_culling) { %>
        <fieldset>
            <input type="radio" id="culling_on" name="culling" value="culling_on">
            <label for="culling_on">Face Culling on</label>

            <input type="radio" id="culling_off" name="culling" value="culling_off" checked>
            <label for="culling_off">Face Culling off</label>
        </fieldset>
    <% } %>
    <% if (slider_depth_test) { %>
        <fieldset>
            <input type="radio" id="depth_test_on" name="depth_test" value="depth_test_on" checked>
            <label for="depth_test_on">Depth Test on</label>

            <input type="radio" id="depth_test_off" name="depth_test" value="depth_test_off">
            <label for="depth_test_off">Depth Test off</label>
        </fieldset>
    <% } %>
    <% if (slider_gamma) { %>
        <div class="slidecontainer">
            Gamma correction:</br><input type="range" min="1" max="5" step="0.5" value="2" id="gamma_correction" oninput="this.nextElementSibling.value = this.value">
            <output>2</output>
        </div>
    <% } %>
    <% if (slider_tone_mapping) { %>
        <h4>Tone mapping:</h4>
        <div class="slidecontainer">
            Alpha:</br><input type="range" min="0.5" max="3" step="0.5" value="1" id="alpha" oninput="this.nextElementSibling.value = this.value">
            <output>1</output>
        </div>
        <div class="slidecontainer">
            Beta:</br><input type="range" min="0.5" max="3" step="0.5" value="1" id="beta" oninput="this.nextElementSibling.value = this.value">
            <output>1</output>
        </div>
    <% } %>
</div>
