<!-- 
This code was primarly created for assignment for Computer Graphics course at USI
by Jiří Heller, Marie Kalousková and Xiana Carrera Alonso
For Software Atelier 3: The Web project we modified it to make it more customizable and tangible 
-->

<!-- How to use this file:
    ejs.views_slide_phong_model();
    start_slide_phong_model();
-->

<canvas id="webgl-canvas" class="m-3" width="500" height="500"></canvas>

<div id="controls" class="m-3">
    <h4>Camera:</h4>
    <div class="slidecontainer">
        Azimuthal angle:</br><input type="range" min="-270" max="90" value="-45" id="camera_azimuthal_angle" class="form-range">
    </div>
    <div class="slidecontainer">
        Polar angle:</br><input type="range" min="1" max="179" value="60" id="camera_polar_angle" class="form-range">
    </div>
    <div class="slidecontainer">
        Distance:</br><input type="range" min="20" max="200" value="100" id="camera_distance" class="form-range">
    </div>
    <div class="slidecontainer">
        Field of view:</br><input type="range" min="10" max="150" value="45" id="camera_fov" class="form-range">
    </div>

    <h4>Light:</h4>
    <div class="slidecontainer">
        Azimuthal angle:</br><input type="range" min="-270" max="90" value="-70" id="light_azimuthal_angle" class="form-range">
    </div>
    <div class="slidecontainer">
        Polar angle:</br><input type="range" min="1" max="90" value="60" id="light_polar_angle" class="form-range">
    </div>
</div>
