<div class="container">
    <div class="row">
        <div class="col w-25 ratio ratio-1x1 tile" id="tile00">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile01">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile02">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile03">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col w-25 ratio ratio-1x1 tile" id="tile10">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile11">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile12">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile13">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col w-25 ratio ratio-1x1 tile" id="tile20">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile21">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile22">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile23">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col w-25 ratio ratio-1x1 tile" id="tile30">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile31">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile32">
            &nbsp;
        </div>
        <div class="col w-25 ratio ratio-1x1 tile" id="tile33">
            &nbsp;
        </div>
    </div>
</div>