<h2>Complete the following parametrization:</h2>
<div class="d-flex flex-row">
    <div class="card">
        <p>
            \(x = \) <input type="text" name="x"/> <br/>
            \(y = \rho \sin(\theta) \sin(\phi) \)<br />
            \(z = \rho \cos(\phi) \)<br />
            \(\rho \gt 0, \theta \in [0, 2\pi),\; \phi \in [0, \pi)\)
        </p>
    </div>
</div>
