<h2>Complete the following parametrization:</h2>
<div class="d-flex flex-row">
    <form id="form-complete-param" class="card">
        <p>
            \(x = \) <input type="text" name="x"/> <br/>
            \(y = \rho \sin(\theta) \sin(\phi) \)<br />
            \(z = \rho \cos(\phi) \)<br />
            \(\rho \gt 0, \theta \in [0, 2\pi),\; \phi \in [0, \pi)\)
        </p>
        <input type="submit" value="Submit" />
    </form>
    <p id="error-msg-complete-param" class="opacity-0">Input not valid! Please, try again</p>
</div>
