<div class="d-flex h-auto">
    <% if ( subslide == "idea") {%>
        <img src="/images/computer_graphics.png" alt="Computer graphics needs" class="img_left"/>
        <img src="/images/slides.png" alt="Slides ideas" class="img_right"/>
    <%} else if (subslide == "story") {%>
        <img src="/images/user_case_1.png" alt="user_case_1" class="img_left"/>
        <img src="/images/user_case_2.png" alt="user_case_2" class="img_center"/> 
        <img src="/images/user_case_3.png" alt="user_case_3" class="img_right"/>    
    <% } else if (subslide == "technology") {%>
        <img src="/images/libraries.png" alt="Libraries" class="img_left"/>
    <% } %>
</div>
