<section>
    <h2><%= question %></h2>
    <form id="student_answer" method="POST" action="/question/open">
        <textarea name="answer" type="text" placeholder="Type your answer here..."></textarea>
        <input type="submit" value="Done">
    </form>
</section>
