<div class="container">
    <canvas id="threejs-canvas" width="520" height="520"></canvas>
    <h2>Check the right parametrization for a sphere</h2>
    <div class="btn-group-lg btn-group" data-toggle="buttons">
        <row>
            <div class="col-lg-6 my-2">     <!-- my-2 specifies both margin top and bottom -->
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked/>

                </label>
            </div>
            <div class="col-lg-6">
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" autocomplete="off" checked/>Label
                </label>
            </div>
        </row>
    </div>
</div>

<p>
    When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
    \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]</br>
</p>

