<h2>Complete the following parametrization:</h2>
<div class="d-flex flex-row">
    <form id="form-complete-param" class="card">
        <p id="parametrization-text">
            <!-- Note that there can be several x-latex elements in the same p-latex element, to have more than one completion space.
                 (The JS code uses querySelectorAll, which returns the elements that match in order) -->
            <!-- There can only be one input element per line, though (the contrary would increase complexity quite a lot) -->
            \(x = \) <span data-symbol="x"></span> <input type="text" name="x" /> <br />
            \(y = \) <span data-symbol="y">\(\rho \cos u \sin v\)</span><br />
            \(z = \) <span data-symbol="z"> \( \cos v\)</span><br />
            \(\rho \gt 0, u \in [0, 2\pi),\; v \in [0, \pi)\)
        </p>
        <!-- Not displayed -->
        <input class="d-none" name="const-symbol" value="\rho" />
        <input class="d-none" name="const-value" value="10" /> 
        <input class="d-none" name="u-min" value="0" />
        <input class="d-none" name="u-max" value="2*pi" /> 
        <input class="d-none" name="v-min" value="0" />
        <input class="d-none" name="v-max" value="2*pi" />
        <input type="submit" value="Submit" />
    </form>
    <div>
        <canvas id="threejs-canvas" class="m-3" width="500" height="500"></canvas>
        <p id="error-msg-complete-param" class="opacity-0">Input not valid! Please, try again</p>
    </div>
</div>