<% if (!isTeacher && !showAnswer) { %>

<div class="d-flex flex-row flex-nowrap justify-content-between">
    <div class="custom-spacing drop-targets d-flex flex-column justify-content-evenly mx-2 p-2" >
        <div class="drop-box card p-3" draggable="true" id="drop-box1">
            <div class="object-draggable-name card-title">
                <p>Sphere</p>
            </div>
        </div>
        <div class="drop-box card p-3" draggable="true" id="drop-box2">
            <div class="object-draggable-name card-title">
                <p>Torus</p>
            </div>
        </div>
        <div class="drop-box card p-3"  draggable="true" id="drop-box3">
            <div class="object-draggable-name card-title">
                <p>Klein bottle</p>
            </div>
        </div>
    </div>
    <div class="custom-spacing btn-group-lg btn-group d-flex flex-column justify-content-evenly p-4 mx-2" data-toggle="buttons">
        <div class="my-2 form-group row align-items-center">
            <!-- mx-2 specifies both margin left and right -->
            <label class="btn btn-primary p-2">
                <input type="radio" class="btn-check" name="param_options" value="0" id="option1" autocomplete="off" />
                <p class="mt-2 mx-2">
                    \(x = (R_1 + R_2 \cos(v)) cos(u)\)<br />
                    \(y = (R_1 + R_2 \cos(v)) sin(u)\)<br />
                    \(z = R_2 \sin(v)\)<br />
                    \(u \in [0, 2\pi),\; v \in [0, 2\pi)\)
                </p>
            </label>
        </div>
        <div class="my-2 form-group row align-items-center">
            <label class="btn btn-primary p-2">
                <input type="radio" class="btn-check" name="param_options" value="1" id="option2" autocomplete="off" />
                <p class="mt-2 mx-2">
                    \(x = r + \cos(v / 2) * \sin(u) - \sin(v / 2) * \sin(2 * u)) * \cos(v) \)<br />
                    \(y = (r + \cos(v / 2) * \sin(u) - \sin(v / 2) * \sin(2 * u)) * \sin(v) \)<br />
                    \(z = \sin(v / 2) * \sin(u) + \cos(v / 2) * \sin(2 * u) \)<br />
                    \(u \in [0, 2\pi),\; v \in [-\pi, \pi)\)
                </p>
            </label>
        </div>
        <div class="my-2 form-group row align-items-center">
            <label class="btn btn-primary p-2">
                <input type="radio" class="btn-check" name="param_options" value="2" id="option3" autocomplete="off" />
                <p class="mt-2 mx-2">
                    \(x = \rho \cos(\theta) \sin(\phi) \)<br />
                    \(y = \rho \sin(\theta) \sin(\phi) \)<br />
                    \(z = \rho \cos(\phi) \)<br />
                    \(\rho \gt 0, \theta \in [0, 2\pi),\; \phi \in [0, \pi)\)
                </p>
            </label>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center mx-2 my-4">
        <!-- Automatically set margin left and right to center -->
        <canvas id="threejs-canvas" width="<%= canvas_width %>" height="<%= canvas_height %>"></canvas>
        <button style="max-width: 70px; align-self: flex-end; margin-top: 10px; margin-right: 40px;" class="btn btn-primary" <% if(sentAnswer) { %> disabled <% } %>>Done</button>
    </div>
</div>
<% } else { %>
    <div class="d-flex flex-row flex-nowrap justify-content-between">
        <div class="custom-spacing drop-targets d-flex flex-column justify-content-evenly mx-2 p-2" >
            <div class="drop-box card p-3" draggable="false" id="drop-box2">
                <div class="object-draggable-name card-title">
                    <p>Torus</p>
                </div>
            </div>
            <div class="drop-box card p-3"  draggable="false" id="drop-box3">
                <div class="object-draggable-name card-title">
                    <p>Klein bottle</p>
                </div>
            </div>
            <div class="drop-box card p-3" draggable="false" id="drop-box1">
                <div class="object-draggable-name card-title">
                    <p>Sphere</p>
                </div>
            </div>
        </div>
        <div class="custom-spacing btn-group-lg btn-group d-flex flex-column justify-content-evenly p-4 mx-2" data-toggle="buttons">
            <div class="my-2 form-group row align-items-center">
                <!-- mx-2 specifies both margin left and right -->
                <label class="btn btn-primary p-2">
                    <input type="radio" class="btn-check" name="param_options" value="0" id="option1" autocomplete="off" />
                    <p class="mt-2 mx-2">
                        \(x = (R_1 + R_2 \cos(v)) cos(u)\)<br />
                        \(y = (R_1 + R_2 \cos(v)) sin(u)\)<br />
                        \(z = R_2 \sin(v)\)<br />
                        \(u \in [0, 2\pi),\; v \in [0, 2\pi)\)
                    </p>
                </label>
            </div>
            <div class="my-2 form-group row align-items-center">
                <label class="btn btn-primary p-2">
                    <input type="radio" class="btn-check" name="param_options" value="1" id="option2" autocomplete="off" />
                    <p class="mt-2 mx-2">
                        \(x = r + \cos(v / 2) * \sin(u) - \sin(v / 2) * \sin(2 * u)) * \cos(v) \)<br />
                        \(y = (r + \cos(v / 2) * \sin(u) - \sin(v / 2) * \sin(2 * u)) * \sin(v) \)<br />
                        \(z = \sin(v / 2) * \sin(u) + \cos(v / 2) * \sin(2 * u) \)<br />
                        \(u \in [0, 2\pi),\; v \in [-\pi, \pi)\)
                    </p>
                </label>
            </div>
            <div class="my-2 form-group row align-items-center">
                <label class="btn btn-primary p-2">
                    <input type="radio" class="btn-check" name="param_options" value="2" id="option3" autocomplete="off" />
                    <p class="mt-2 mx-2">
                        \(x = \rho \cos(\theta) \sin(\phi) \)<br />
                        \(y = \rho \sin(\theta) \sin(\phi) \)<br />
                        \(z = \rho \cos(\phi) \)<br />
                        \(\rho \gt 0, \theta \in [0, 2\pi),\; \phi \in [0, \pi)\)
                    </p>
                </label>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center mx-2 my-4">
            <!-- Automatically set margin left and right to center -->
            <canvas id="threejs-canvas" width="<%= canvas_width %>" height="<%= canvas_height %>"></canvas>
            <% if(isTeacher) { %>
                <button style="max-width: 120px; align-self: flex-end; margin-top: 10px; margin-right: 40px;" class="btn btn-primary">Show answers</button>
            <% } else { %>
                <button style="max-width: 120px; align-self: flex-end; margin-top: 10px; margin-right: 40px;" class="btn btn-primary" disabled>Answers shown</button>
            <% } %>
        </div>
    </div>
<% } %>