<div class="container">
    <div class="row">
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-end-0 border-dark tile" id="tile00">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-end-0 border-dark tile" id="tile01">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-end-0 border-dark tile" id="tile02">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-end-0 border-dark tile" id="tile03">
            &nbsp;
        </div>
        <!-- Note that this is the final tile for the algorithm and doesn't have the tile class -->
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-dark bg-primary" id="tile04">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile10">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile11">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile12">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile13">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-dark tile" id="tile14">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile20">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile21">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile22">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile23">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-dark tile" id="tile24">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile30">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile31">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile32">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile33">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-dark tile" id="tile34">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile40">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile41">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile42">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-end-0 border-dark tile" id="tile43">
            &nbsp;
        </div>
        <div style="height: 120px; max-width: 120px;" class="midpoint col border border-top-0 border-dark tile" id="tile44">
            &nbsp;
        </div>
    </div>
</div>
<div class="container mt-4">
    <bustyle="height: 120px; max-width: 120px;" tton class="btn btn-primary" id="btn_done_midpoint">Done</button>
</div>