<div class="d-flex flex-row align-items-center justify-content-around container-fluid">
    <!-- container-fluid makes the div take the whole width of the screen -->
    <div>
        <form id="form-complete-param" class="card m-3 bg-light">
            <div class="card-header">Surface parametrization</div>
            <div class="card-body">
                <p id="parametrization-text" class="card-text">
                    <!-- Note that there can be several x-latex elements in the same p-latex element, to have more than one completion space.
                    (The JS code uses querySelectorAll, which returns the elements that match in order) -->
                    <!-- There can only be one input element per line, though (the contrary would increase complexity quite a lot) -->
                    \(x = \) <span data-symbol="x"></span> <input type="text" name="x" class="form-control d-inline"
                        style="max-width: 80%;" /> <br />
                    \(y = \) <span data-symbol="y">\(\rho * \sin(u) * \sin(v) \)</span><br />
                    \(z = \) <span data-symbol="z"> \(\rho * \cos(v) \)</span><br />
                    \(\rho \gt 0, u \in [0, 2\pi),\; v \in [0, \pi)\)
                </p>
                <!-- Not displayed -->
                <input class="d-none" name="const-symbol" value="\rho" />
                <input class="d-none" name="const-value" value="10" />

                <!-- These inputs' values are written explictely so that the code doesn't have to evaluate the expressions (which could potentially be 
                    very dangerous) -->
                <input class="d-none" name="u-min" value="0" />
                <input class="d-none" name="v-min" value="0" />
                <input class="d-none" name="u-max" value="6.283185" />
                <input class="d-none" name="v-max" value="3.141593" />
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        <%- include('includes/loading_spinner') %>
    </div>
    <div>
        <canvas id="threejs-canvas" class="m-3" width="<%= canvas_width %>" height="<%= canvas_height %>"></canvas>
        <p id="error-msg-complete-param" class="opacity-0">Input not valid! Please, try again</p>
    </div>
</div>