<div class="m-3">
    <h3>Students answers</h3>
    <section>
        <h5>\( \alpha \) success rate</h5>
        <div style="background-color: lightgrey;">
            <div class="<% if (alpha_p > 75) { %>bg-success<% } else if (alpha_p > 50) { %>bg-warning<% } else { %>bg-danger<% } %> text-center"
                style="width:<%= alpha_p %>%">
                <%= alpha_p %>%
            </div>
        </div>
        <h5>\( \frac{\beta}{\gamma} \) success rate</h5>
        <div style="background-color: lightgrey;">
            <div class="<% if (beta_gamma_p > 75) { %>bg-success<% } else if (beta_gamma_p > 50) { %>bg-warning<% } else { %>bg-danger<% } %> text-center"
                style="width:<%= beta_gamma_p %>%">
                <%= beta_gamma_p %>%
            </div>
        </div>
    </section>
    <% if (showButtons) { %>
        <button data-action="reset" class="btn btn-primary m-3 p-2 disabled enabled-on-answer"
            disabled="true">Reset</button>
        <button data-action="send-answers" class="btn btn-primary m-3 p-2 disabled enabled-on-answer"
            disabled="true">Send answers</button>
        <% } %>
</div>